
@{
    ViewBag.Title = "MELO31Modules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>MELO31 Optical Fingerprint Scanner Module | Mantra</title>
    <meta name="keywords" content="fingerprint reader device, Fingerprint sensor modules">
    <meta name="description" content="Looking for optical fingerprint module? Mantra offers MELO31 Optical fingerprint scanner with OEM module and Sensor MELv7.0. Visit our site today!">
    <link rel="canonical" href="https://sensor.mantratec.com/Modules/Optical-Fingerprint-Scanners-MELO31" />
    <meta property="og:title" content="MELO31 Optical Fingerprint Scanner Module | Mantra" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://sensor.mantratec.com/Modules/Optical-Fingerprint-Scanners-MELO31" />
    <meta property="og:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta property="og:site_name" content="Mantra" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="Looking for optical fingerprint module? Mantra offers MELO31 Optical fingerprint scanner with OEM module and Sensor MELv7.0. Visit our site today!" />
    <meta name="twitter:title" content="MELO31 Optical Fingerprint Scanner Module | Mantra" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://sensor.mantratec.com/Modules/Optical-Fingerprint-Scanners-MELO31" />
    <meta name="twitter:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta name="twitter:description" content="Looking for optical fingerprint module? Mantra offers MELO31 Optical fingerprint scanner with OEM module and Sensor MELv7.0. Visit our site today!" />
}

@section top_allpages{

    <link href="@Url.Content("~/Assets/CSS/module/MELO31.css")" rel="stylesheet" />

}

<!-- Begin Slider -->
<section class="product_poster_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <img class="img-fluid" src="@Url.Content("~/Assets/Images/Modules/MELO31/MELO31.png")" alt="MELO31 Optical Fingerprint Module Scanner" title="MELO31 Optical Fingerprint Module Scanner" />
            </div>
            <div class="col-xl-7 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <h1>
                    MELO31
                    <br />Optical Fingerprint Scanner
                </h1>
                <p>Model : MELO31 | OEM Module / Sensor : MELv7.0</p>
                <div class="product_action_box">
                    <a href="#specification_section" class="action_box specification_section_click">
                        <i class="maicon_spcification"></i>
                        <p>Specification</p>
                    </a>
                    <a href="@Url.Content("/contact-us")" class="action_box">
                        <i class="maicon_inquiry"></i>
                        <p>Inquiry</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider -->
<!-- Begin Hardware Features -->
<section class="features_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Features</h2>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_lowest_far_frr"></i>
                    <p>Lowest FAR & FRR</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_API_specification"></i>
                    <p>Support Aadhaar auth API specification V2.0</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_minex_compliance"></i>
                    <p>MINEX compliance extractor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_multiple_devices"></i>
                    <p>Supports multiple devices</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_usb_device"></i>
                    <p>High speed USB 2.0 interface with plug and play</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_scratch_free"></i>
                    <p>Scratch free sensor surface</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_DPI_optical_fingerprint"></i>
                    <p>500 DPI optical fingerprint sensor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="features_box">
                    <i class="maicon_fbi"></i>
                    <p>FBI PIV Certified</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hardware Features -->
<!-- Begin Hardware Features -->
<section class="specification_section" id="specification_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Specification</h2>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Sensor Characteristics</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Fingerprint Sensor Type</strong>
                    </p>
                    <p>Scratch Free Optical Sensor</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Pixel Resolution</strong>
                    </p>
                    <p>500 DPI +/- 2%</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Platen size</strong>
                    </p>
                    <p>20.32mm x 25.40mm</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Size </strong>
                    </p>
                    <p>400 x 500</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Grayscale</strong>
                    </p>
                    <p>256 (8 - Bit Gray Level) </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>FRR & FAR</strong>
                    </p>
                    <p>< 0.1% & < 0.001%</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong> Maximum Acquisition time <br />( Placement to Template ) </strong>
                    </p>
                    <p>: < 2 Sec</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Latent Finger Detection</strong>
                    </p>
                    <p>Yes</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Light Source</strong>
                    </p>
                    <p>RED LED</p>
                </div>
            </div>
            <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Capture mode</strong>
                    </p>
                    <p>Auto Finger detection functionality & Auto capture with built-in quality check (incorporates NIST quality considerations) & Support 360 Degree Fingerprint Rotation</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Interface</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Protocol</strong>
                    </p>
                    <p>USB 2.0</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Electrical Characteristics</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating Voltage</strong>
                    </p>
                    <p>5V ±5% (USB Powered Device)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating Current</strong>
                    </p>
                    <p>Operating Current: ~190 mA & Standby Current : ~90 mA</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Environmental Characteristics</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Operating Temperature</strong>
                    </p>
                    <p>0°C to +50°C</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Storage Temperature</strong>
                    </p>
                    <p>-10°C to +70°C</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Humidity (Operating / Storage)</strong>
                    </p>
                    <p>< 90% RH, Non-condensing</p>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr />
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Compliant to Following Standard</h3>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Biometric Data Interchange Format</strong>
                    </p>
                    <p>ISO 19794-2 : 2005 & 2011, ISO 19794-4 : 2005 & 2011, ANSI 378, WSQ3.1, JPEG2000</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>EMI / EMC Compliance</strong>
                    </p>
                    <p>CE & FCC Part 15B class A</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>ESD protection</strong>
                    </p>
                    <p>Contact Discharge: +/- 8kV, Air Discharge: +/- 15kV</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Environmental, Health and Safety</strong>
                    </p>
                    <p>RoHS, WEEE</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Safety</strong>
                    </p>
                    <p>EN/IEC 62368-1, IS 13252 (Part 1)</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Image Quality</strong>
                    </p>
                    <p>FBI PIV Certification</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>IP Rating</strong>
                    </p>
                    <p>IP65</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="specification_box">
                    <p>
                        <strong>Device Driver</strong>
                    </p>
                    <p>WHQL Certified WBF driver</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hardware Features -->
<!-- Begin Product Images -->
<section class="get_in_touch_section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <h6>GET IN TOUCH</h6>
                <h2>Let’s talk! We have a perfect biometric solution for your industry.</h2>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <a href="@Url.Content("/contact-us")" class="getin_contact_us_btn">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- End Product Images -->

@section bottom_allpages{

}
