
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="canonical" href="https://sensor.mantratec.com/Contact-Us" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://sensor.mantratec.com/Contact-Us" />
    <meta property="og:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta property="og:site_name" content="Mantra" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://sensor.mantratec.com/Contact-Us" />
    <meta name="twitter:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta name="twitter:description" content="" />
}
@section top_allpages{
    <link href="@Url.Content("~/Assets/css/pages/ContactUs.css")" rel="stylesheet" />
}

<section class="contact_details_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-6 col-md-8 col-sm-12 col-xs-12">
                <div class="page_title_section">
                    <h1>Contact Details</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="@Url.Content("/")">Home</a>
                        </li>
                        <li>
                            <span>/</span>
                        </li>
                        <li>
                            <strong>Contact Details</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Our sales, technical service and customer service teams are prepared to serve customers around the world.</h2>
                <p>
                    <strong>To place an order or receive assistance with an existing order, a shipment, an invoice or an accounting matter.</strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section_box_title">
                    <i class="maicon_head_office"></i>
                    <h3>Office</h3>
                    <hr />
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="detail_box">
                    <p>
                        <strong>Company Name :</strong>
                        <br />
                        <span>Mantra Softech India Private Limited</span>
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="detail_box">
                    @*<p>
                            <strong>Support RMA / RD :</strong>
                            <a href="mailto:servico@mantratec.com">servico@mantratec.com</a>
                        </p>*@
                    <p>
                        <strong>Sales :</strong>
                        <br />
                        <a href="mailto:sales@mantratec.com">sales@mantratec.com</a>
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="detail_box">
                    <p>
                        <strong>International Phone :</strong>
                        <br />
                        <a href="tel:07949068001">079-49068001</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section_box_title">
                    <i class="maicon_office_location"></i>
                    <h3>Talk to our experts</h3>
                    <hr />
                </div>
            </div>
        </div>
        <div id="crmWebToEntityForm" class="zcwf_lblLeft crmWebToEntityForm">
            <form id="webform5281137000093722001" action="https://crm.zoho.com/crm/WebToLeadForm" name=WebToLeads5281137000093722001 method="POST" onSubmit="javascript:document.charset='UTF-8'; return checkMandatory5281137000093722001()" accept-charset="UTF-8">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input type="text" style="display:none;" name="xnQsjsdp" value="59141829df25021ef3b9d063d72df3c183da44a92a5df21bb0ffd95d6ee50b95" />
                        <input type="hidden" name="zc_gad" id="zc_gad" value="" />
                        <input type="text" style="display:none;" name="xmIwtLD" value="fda432833e3afc98a0c5ee8b0c72559cbad53a2fa99b6bffb07443fcf936f163b854731ab86f393b25d77b9f7828f2a2" />
                        <input type="text" style="display:none;" name="actionType" value="TGVhZHM=" />
                        <input type="text" style="display:none;" name="returnURL" value="null" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="Company">
                                Company
                                <span class="required_fild">*</span>
                            </label>
                            <input class="form-control" type="text" id="Company" aria-required="true" aria-label="Company" name="Company" aria-valuemax="200" maxlength="200" placeholder="Please Enter Company Name" />
                            <div class="zcwf_col_help"></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="Last_Name">
                                Name
                                <span class="required_fild">*</span>
                            </label>
                            <input class="form-control" type="text" id="Last_Name" aria-required="true" aria-label="Last Name" name="Last Name" aria-valuemax="80" maxlength="80" placeholder="Please Enter Name" />
                            <div class="zcwf_col_help"></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="Email">
                                Email
                                <span class="required_fild">*</span>
                            </label>
                            <input class="form-control" type="text" ftype="email" autocomplete="false" id="Email" aria-required="true" aria-label="Email" name="Email" aria-valuemax="100" crmlabel="" maxlength="100" placeholder="Please Enter Email ID" />
                            <div class="zcwf_col_help"></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="Mobile">
                                Mobile
                                <span class="required_fild">*</span>
                            </label>
                            <input class="form-control" type="text" id="Mobile" aria-required="true" aria-label="Mobile" name="Mobile" aria-valuemax="30" maxlength="30" placeholder="Please Enter Mobile No" />
                            <div class="zcwf_col_help"></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="Country">Country</label>
                            <input class="form-control" type="text" id="City" aria-required="false" aria-label="City" name="City" aria-valuemax="100" maxlength="100" placeholder="Please Enter Country Name" />
                            <div class="zcwf_col_help"></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="City">City</label>
                            <input class="form-control" type="text" id="Country" aria-required="false" aria-label="Country" name="Country" aria-valuemax="100" maxlength="100" placeholder="Please Enter City Name" />
                            <div class="zcwf_col_help"></div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="Description">
                                Description
                                <span class="required_fild">*</span>
                            </label>
                            <textarea class="form-control" aria-multiline="true" id="Description" aria-required="true" aria-label="Description" name="Description"></textarea>
                            <div class="zcwf_col_help"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <hr />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <img id="imgid5281137000093722001" src="https://crm.zoho.com/crm/CaptchaServlet?formId=fda432833e3afc98a0c5ee8b0c72559cbad53a2fa99b6bffb07443fcf936f163b854731ab86f393b25d77b9f7828f2a2&grpid=59141829df25021ef3b9d063d72df3c183da44a92a5df21bb0ffd95d6ee50b95" />
                            <a class="btn btn-primary" href="javascript:;" onclick="reloadImg5281137000093722001();" title="Reload"><i class="bi bi-arrow-clockwise text-white"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="Description" id="reCaptchaField">Enter the Captcha</label>
                            <input class="form-control" type="text" id="captchaField5281137000093722001" aria-labelledby="reCaptchaField" aria-valuemax="10" maxlength="10" name="enterdigest" placeholder="Please Enter Captcha" />
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 d-none">
                        <input type="text" style="display: none;" name="aG9uZXlwb3Q" value="" />
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input class="formsubmit submit_btn" type="submit" id="formsubmit" role="button" value="Submit" aria-label="Submit" title="Submit" />
                        <input class="reset_btn" type="reset" role="button" name="reset" value="Reset" aria-label="Reset" title="Reset" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ol-xs-12">
                        <iframe name="captchaFrame" style="display:none;"></iframe>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section bottom_allpages{
    <script>
	    /* Do not remove this code. */
	    function reloadImg5281137000093722001(){
		    var captcha = document.getElementById('imgid5281137000093722001');
		    if (captcha.src.indexOf ('&d') !== -1) {
			    captcha.src = captcha.src.substring(0, captcha.src.indexOf('&d')) + '&d' + new Date().getTime();
		    } else {
			    captcha.src = captcha.src + '&d' + new Date().getTime();
		    }
	    }
	    function historyBack5281137000093722001(){
		    document.querySelector('.crmWebToEntityForm .formsubmit').removeAttribute('disabled');
		    reloadImg5281137000093722001();
		    window.removeEventListener('focus', historyBack5281137000093722001);
	    }
	    function validateEmail5281137000093722001(){
		    var form = document.forms['WebToLeads5281137000093722001'];
		    var emailFld = form.querySelectorAll('[ftype=email]');
		    var i;
		    for(i = 0; i < emailFld.length; i++ ) {
			    var emailVal = emailFld[i].value;
			    if ((emailVal.replace (/^\s+|\s+$/g,'') ) .length != 0) {
				    var atpos = emailVal.indexOf('@@');
				    var dotpos = emailVal.lastIndexOf('.');
				    if(atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= emailVal.length) {
					    alert('Please enter a valid email address. ');
					    emailFld[i].focus();
					    return false;
				    }
			    }
		    }
		    return true;
	    }
	    function checkMandatory5281137000093722001(){
		    var mndFileds = new Array('Company', 'Last Name', 'Email', 'Mobile', 'Description');
		    var fldLangVal = new Array('Company', 'Last\x20Name', 'Email', 'Mobile', 'Description');
		    for (i = 0; i < mndFileds.length; i++ ) {
			    var fieldObj = document.forms['WebToLeads5281137000093722001'] [mndFileds[i]];
			    if (fieldObj) {
				    if(((fieldObj.value) .replace (/^\s+|\s+$/g,'') ) .length == 0) {
					    if (fieldObj.type == 'file') {
						    alert('Please select a file to upload.');
						    fieldObj.focus();
						    return false;
					    }
					    alert(fldLangVal[i] + ' cannot be empty.');
					    fieldObj.focus();
					    return false;
				    } else if (fieldObj.nodeName == 'SELECT') {
					    if (fieldObj.options[fieldObj.selectedIndex].value == '-None-') {
						    alert(fldLangVal[i] + ' cannot be none.');
						    fieldObj.focus();
						    return false;
					    }
				    } else if (fieldObj.type == 'checkbox') {
					    if (fieldObj.checked == false) {
						    alert('Please accept  ' + fldLangVal[i]);
						    fieldObj.focus();
						    return false;
					    }
				    }
				    try{
					    if (fieldObj.name == 'Last Name') {
						    name = fieldObj.value;
					    }
				    } catch (e){}
			    }
		    }
		    if ( !validateEmail5281137000093722001 () ) {
			    return false;
		    }
		    var urlparams = new URLSearchParams(window.location.search);
		    if (urlparams.has ('service') && (urlparams.get ('service') === 'smarturl') ) {
			    var webform = document.getElementById('webform5281137000093722001');
			    var service = urlparams.get('service');
			    var smarturlfield = document.createElement('input');
			    smarturlfield.setAttribute('type', 'hidden');
			    smarturlfield.setAttribute('value', service);
			    smarturlfield.setAttribute('name', 'service');
			    webform.appendChild(smarturlfield);
		    }
		    document.querySelector('.crmWebToEntityForm .formsubmit').setAttribute('disabled', true);
		    window.addEventListener('focus', historyBack5281137000093722001);
	    }
	    function tooltipShow5281137000093722001(el){
		    var tooltip = el.nextElementSibling;
		    var tooltipDisplay = tooltip.style.display;
		    if (tooltipDisplay == 'none') {
			    var allTooltip = document.getElementsByClassName('zcwf_tooltip_over');
			    for (i = 0; i < allTooltip.length; i++ ) {
				    allTooltip[i].style.display = 'none';
			    }
			    tooltip.style.display = 'block';
		    } else {
			    tooltip.style.display = 'none';
		    }
	    }
    </script>
}