
@{
    ViewBag.Title = "ReturnPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title>Return Policy</title>
    <meta name="keywords" content="Return Policy">
    <meta name="description" content="">
    <link rel="canonical" href="https://sensor.mantratec.com/Return-Policy" />
    <meta property="og:title" content="Return Policy" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://sensor.mantratec.com/Return-Policy" />
    <meta property="og:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta property="og:site_name" content="Mantra" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="Return Policy" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://sensor.mantratec.com/Return-Policy" />
    <meta name="twitter:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta name="twitter:description" content="" />
}
@section top_allpages{
    <link href="@Url.Content("~/Assets/css/pages/returnpolicy.css")" rel="stylesheet" />
}
<section class="returnpolicy_header_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-6 col-md-8 col-sm-12 col-xs-12">
                <div class="page_title_section">
                    <h1>Return Policy</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="@Url.Content("/")">Home</a>
                        </li>
                        <li>
                            <span>/</span>
                        </li>
                        <li>
                            <strong>Return Policy</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="returnpolicy_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>At SERVICO, returns are easy! We strive to offer the best shopping experience, including fast and hassle-free returns. Please Contact Customer Service to process your return.</p>
                <p>
                    In case of received damaged/Non Functional material you can request for return from our
                    <a href="http://servico.mantratecapp.com/MasterForms/RMARequestTerms.aspx">RMA</a>.
                </p>
                <hr />
                <h3>Do I need to send products all the way to India?</h3>
                <p>All Customers will need to send their products to our warehouse, India at their own cost. We do not provide free returns generally. However in some exception cases, we may also arrange for pickup of product from customer’s location if it is feasible for us and our logistic partner.</p>
                <br />
                <h3>The products are fine, but I changed my mind</h3>
                <p>In such cases we’ll not accept any return until unless the product which you received is damaged or not working properly.</p>
                <br />
                <h3>Products with quality problems</h3>
                <p>We guarantee all of our products against material and workmanship defects within the warranty period. If a defect arises and a valid claim is received by Customer Service within the warranty period, we can offer you an exchange, repair service, or new components for replacement. We will be responsible for all shipping fees only in case of the extended onsite warranty taken by the customer.</p>
                <hr />
                <h2>Cancellation Policy</h2>
                <p class="list_point">For all products, orders may be cancelled for a full refund at any time until the order is shipped.</p>
                <p class="list_point">Orders cancelled within 12 hours of payment confirmation are eligible for a full refund.</p>
                <p class="list_point">Orders cancelled after production begins may be cancelled, but you will be responsible for 50% of the product price.</p>
                <p class="list_point">Order products that have already been shipped cannot be cancelled.</p>
                <hr />
                <h2>Refund Policy</h2>
                <p>Refund will be issued approximately 95% of the product price, only if product received back in original condition with original packaging and invoice. Shipping Charges paid by the customer will not be refunded. This is because 5% is deducted by payment gateway for refund and double shipping charges are charged by the logistics partner in case of non-acceptance of goods by customer.</p>
                <p>We might not have very flexible refund policies as compared to other e-commerce site and this is because we focus more on providing best prices and keep very little profit margins. In order to protect ourselves from loss, we sometimes deduct some percentage while refunding the money.</p>
                <p>Refund usually takes place in same payment method which customer uses while placing order online. Refund will reflect within 7 days from date of issue of refund.</p>
            </div>
        </div>
    </div>
</section>
@section bottom_allpages{
}
