
@{
    ViewBag.Title = "TermsofUse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags{
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="canonical" href="https://sensor.mantratec.com/Terms-of-Use" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://sensor.mantratec.com/Terms-of-Use" />
    <meta property="og:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta property="og:site_name" content="Mantra" />
    <meta property="fb:app_id" content="1557512364360593" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://sensor.mantratec.com/Terms-of-Use" />
    <meta name="twitter:image" content="https://sensor.mantratec.com/Assets/Images/sensor.mantratec.jpg" />
    <meta name="twitter:description" content="" />
}
@section top_allpages{
    <link href="@Url.Content("~/Assets/css/pages/termsofuse.css")" rel="stylesheet" />
}
<section class="termsofuse_header_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-6 col-md-8 col-sm-12 col-xs-12">
                <div class="page_title_section">
                    <h1>Terms of Use</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="@Url.Content("/")">Home</a>
                        </li>
                        <li>
                            <span>/</span>
                        </li>
                        <li>
                            <strong>Terms of Use</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="termsofuse_section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>Acceptance</h2>
                <p>These following terms and conditions that govern your use of the stocks images information, materials, documents and other underlying data, being made available to you without obligation at this website. By using the Materials, you expressly signify to have agreed to all the terms, conditions, and notices contained or referred herein (the "Terms of Use"). If you do not agree to these Terms of Use then you may not use this website or the Materials. We reserve the right, at our discretion and will, to update or revise these Terms of Use. You are advised to please check the Terms of Use time to time for such changes. Continued use of this website by you, following the posting of any change or updates to the Terms of Use will be deemed as constituted acceptance of the same by you.</p>
                <hr />
                <h2>Electronic Mail Delivery Policy & Your Consent</h2>
                <p>By using the Materials, you consent to receive from website in all communications, including notices, agreements, legally required disclosures or other information in connection with the Materials electronically. website will provide such electronic Notices by posting them on this website. If you want to withdraw your consent to receive Notices electronically, you have to discontinue your use of this website and the Materials herein.</p>
                <hr />
                <h2>Proprietary Rights</h2>
                <p>You agree and acknowledge that the Materials are protected by copyright, trademark, patent, trade secret, and other applicable proprietary rights and laws in force by the time of this agreement and in future. Third parties Materials appearing on this website have the copyright in the Materials original to them. The look, feel and overall impression of uniqueness of this website, including our colour combinations, button shapes, mark ups and other unique graphical elements, content on this site including the site structure, layout and juxtaposition of the site, text, graphics, logos, icons images are website's exclusive Trademarks or Copyright impressions and website assert moral and legal rights in continuity to be the rightful owner of the same.</p>
                <hr />
                <h2>Procedure For Making Claims Of Copyright Infringement</h2>
                <p>We respect the idea of Intellectual property right. If you believe that your work has been copied in some way and is accessible on this website in a way that constitutes copyright infringement, you may notify website.</p>
                <hr />
                <h2>No Warranties</h2>
                <p>This website and the materials are provided with all faults on an "as is" and "as available" basis. website, its licensors and other suppliers disclaim all such warranties, whether express or implied, including the warranties that the website and materials are free of defects, virus free, and able to operate on the uninterrupted basis, that they will meet your requirements specific or otherwise, or that such errors will be corrected, and the implied warranties that the website and materials are merchantable, of the satisfactory quality, accurate, fit for a particular purpose or need, or non-infringing, unless such implied warranties are legally incapable of exclusion from law provisions. No advice or information given by us, its affiliates or their respective employees or authorized agents will create, constitute a warranty or expand the scope of any warranty that cannot be disclaimed under applicable law or contained herein. Your use of this website and the materials is solely at your own risk. </p>
                <p>Some laws and jurisdictions do not allow the exclusion of implied warranties, so the above exclusions may not apply to you. </p>
                <p>However your use of the website and Materials is at your own risk and website is and will not be under no obligation to provide you with any support, error corrections, updates, upgrades, bug fixes and/or enhancements of the website and Materials unless there is a specific contract to such nature with you.</p>
                <p>Please note that the Materials may include technical inaccuracies or typographical errors unique to the Materials, website has the right at any time to change, modify, reformat, add to or discontinue or retire any aspect or feature or considerable part of the Material or a theme of the website or Materials, including, but not limited to, the software, content, hours of availability, equipment needed for access or use, or the availability of the website or Materials on any particular device or communications service. website has no obligation to provide you with notice of any such changes. </p>
                <hr />
                <h2>Limitation of Liability</h2>
                <p>Under no circumstances shall website, its parent, affiliates, directors, employees, distributors, suppliers, agents or resellers be liable for any indirect, special, incidental, direct, consequential, tortious, act of god or exemplary damages that result from the use of, misuse of, inability to use, or reliance upon this website or the materials, including, without limitation, damages for loss of use, data, business opportunities, or profits. This limitation applies whether the alleged liability is based on contract, tort, negligence, strict liability, or any other basis, even if the website has been advised of the possibility of such damage.</p>
                <p>Some laws and jurisdictions do not allow the exclusion of implied warranties, so the above exclusions may not apply to you. </p>
                <p>Additionally, under no circumstances shall the website be held responsible or liable, directly or indirectly, for any loss or damage caused or alleged to have been caused to you in connection with the use of or reliance on any content, goods or services available on or through any external sites linked from this website. Nor website will be responsible for any loss of data of any type stored at the device installed at your end while using this site. While producing the contents website ethically takes care of the quality of contents and do not mean to be offensive towards any particular individual or a religious group. However website assume no responsibility if you or some member of a religious group does not appreciate some or any part or whole content of a written Material or any sketched, cartographic, click-able visual image and find them offensive. website will not be liable to any kind of consequential damages arising out of such person's reaction or mental shock. </p>
                <hr />
                <h2>Force Majeure</h2>
                <p>Without limiting the foregoing, under no circumstances shall the website be held liable for any delay or failure in performance that may be the result of direct or indirect acts of nature, forces, or deemed unexplained causes beyond its reasonable control, including, without limitation, the Internet failures, computer and other associated equipment failures, telecommunication equipment or service provider failures, electrical power failures, other equipment failures, strikes, labour disputes, riots, insurrections, insurgency, civil disturbances, shortages of labour or materials, fires, floods, storms, explosions, acts of God, war, governmental actions and policies, orders of domestic or foreign courts or tribunals, non-performance of third parties, or loss of or fluctuations in temperature, heat, light, or air conditioning.</p>
                <hr />
                <h2>Indemnification</h2>
                <p>Receiving a written request by www.mantratec.com you agree to defend, indemnify, and hold harmless the www.mantratec.com from all liabilities, claims, and expenses, including attorney's fees, that may arise from your use or misuse of the Materials or this website. www.mantratec.com reserves the right, at it own expense, to assume and take up the exclusive defence and control of any matter otherwise subject to this indemnification by you, in which event you will cooperate with www.mantratec.com in asserting any available defences.</p>
                <hr />
                <h2>Disclaimer of Endorsement</h2>
                <p>Reference herein or on the website to any products sold or made available by www.mantratec.com, or hypertext links to third parties advertisement or other information by trade name, trademark, manufacturers, suppliers or otherwise, does not constitute or imply its endorsement, sponsorship or recommendation by www.mantratec.com in respect of the charter, quality or contents of such goods. Product, service information and content quality are the sole responsibility of each individual vendor or supplier. There will be no extended warranty expressed or implied by www.mantratec.com for any such services or products sold by third party or hyper linked via this website.</p>
                <hr />
                <h2>Choice Of Law & Forum</h2>
                <p>Contained herein the Terms of Use shall be governed by and construed to be in accordance with the laws of the Republic Of India. You expressly agree and consent that the exclusive jurisdiction for any claim or action arising out of or relating to these Terms of Use or your use of the Materials and this website shall be filed only in the courts located under the jurisdiction of Hon'ble High Court.</p>
                <hr />
                <h2>Agreement Severability & Integration</h2>
                <p>The Terms of Use in here will constitute the entire agreement between you and www.mantratec.com with respect to the Materials and this website. If any part of these Terms of Use is held invalid or unenforceable then that portion will be read and construed in such a manner that will be consistent with applicable law to reflect, as nearly as possible, the original intentions of the parties to agreement, and the remaining portions shall remain in full force and effect as per this agreement and governing laws.</p>
                <hr />
                <h2>Agreement Termination</h2>
                <p>Without prejudice www.mantratec.com. reserves the right, on its sole discretion, to terminate your access to the Materials or to all or part of this website, with or without notice.</p>
            </div>
        </div>
    </div>
</section>
@section bottom_allpages{
}
